@import '../../globeSCSS.scss';

////  Not done yet
@media only screen and (min-width: $destop1024MinWidth) {
  .navBarBox {
    margin-bottom: 10px;
    
    .navbarButton {
      border: $pboarder;
      margin-left: 300px;
    }
  }
}


@media only screen and (min-width: $destop1440MinWidth) {
  .navBarBox {
    margin-bottom: 10px;
    // border: $boarder; 
    .navbarButton {
      border: $pboarder;
      margin-left: 990px;
    }
  }
}