$boarder: 1px solid red;
$pboarder: 3px solid lightblue;
$lightBlueBoarder: 1px solid lightblue;

$MoblieMinWidth: 360px;
$MoblieMaxWidth: 767px;

$destop1024MinWidth: 1024px;
$destop1440MinWidth: 1440px;

$TabletMinWidth: 768px;
$TabletMaxWidth: 1023px;