@import '../../globeSCSS.scss';

.mainDetailBox {
  border: $boarder;
  
}

#colBox {
  border: 2px solid yellow;
  width: 10px;
  height: 86vh;
  float: left;
  position: relative;
  width: 19%;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 1px;

  p {
    border: 2px solid yellow;
    margin-left: 90px;
  }

  img {
    border: 2px solid yellow;
    width: 150px;
    
  }
}



.coinDetailBox {
    border: 5px solid black;
    // margin-left: vh;

    .singleSymbolPriceBox {
      border: 1px solid rgb(134, 101, 212);
    }

    .singleSymbolMarketRateBox {
      border: 1px solid red;

      p {
        border: 2px solid gray;
        margin-left: 18px;
        margin-top: 5px;
      }

    }
}


#coinDescriptionBox {
  border: 1px solid black;

  td {
    border: 2px solid yellow;
  }

  p {
    border: 2px solid red;
    margin-top: 5px;
  }
}

// #icosCardBox {
//   border: $lightBlueBoarder;
//   height: 400px;
//   width: 400px;
//   // float: right;
//   margin-right: 60px;
//   margin-top: 10px;

//   button {
//     margin-left: 100px;
//     margin-right: 2px;
//   }

//   a {
//     color: black;
//   }
// }



// @media only screen and (max-width: 414px) {

//   #icosCardBox {
//     border: $lightBlueBoarder;
//     height: 400px;
//     width: 300px;
//     margin-left: 50px;
  
//   }
// }

// @media only (min-width: 768px) and (max-width: 1024px) {

//   #icosCardBox {
//     border: 5px solid red;
//     // height: 400px;
//     // width: 300px;
//     // margin-left: 50px;
  
//   }
// }



@media (min-width: 700px) and (max-width: 1440px) {

  .coinDetailBox {
    background-color: lightblue;
    margin-left: 26vh;
  }

}

